<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
      <link href="./static/css/main.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="v122_2">
         <div class="v122_3"></div>
         <span class="v122_4">ORDER SUMMARY</span><span class="v122_5">Small Dark Roast</span><span class="v122_6">Qty 2</span><span class="v122_7">$ 3.78</span>
         <div class="v122_274"></div>
         <span class="v122_275">Large French Vanilla</span><span class="v122_276">Qty 1</span><span class="v122_277">$ 2.59</span>
         <div class="v122_278"></div>
         <span class="v122_279">Medium Hot Chocolate</span><span class="v122_280">No Sugar
         Qty 1</span><span class="v122_281">$ 2.49</span>
         <div class="v122_282"></div>
         <span class="v122_283">Subtotal</span><span class="v122_284">$8.86</span><span class="v122_285">$1.15</span><span class="v122_286">Tax</span><span class="v122_287">Total</span><span class="v122_288">$ 10.01</span>
         <div class="v122_289"></div>
         <div class="name"></div>
         <div class="v122_291"></div>
      </div>
   </body>
</html>